h1{
    text-shadow: 2px 2px 5px grey;
    text-align: center;
    text-decoration: none;
    color: rgb(7, 3, 0);
    font-weight: initial;
    font-style: oblique;
    background-color: rgb(179, 223, 255);
    border: 2px solid black;
    border-radius: 10px;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
div{
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: inset 0 0 10px grey;
    
}



div ol li{
    font-size: 18px;
    color: rgb(255, 246, 246);
    margin: 5px 0;
    font-display: block;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-weight: bold;
}
body{
    background-color: rgb(255, 255, 255);
    margin: 20px;
    font-family: Arial, sans-serif;
}