@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* h1{
    
    /* font-weight: bold;
    font-style: italic;
    font-size: 36px;
} 

p{
    font: 100;
    
    font-weight:  bold;
}
.lorem{
    
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    text-align: justify;
    text-transform: capitalize;
    text-decoration: none;
    text-decoration-thickness: 2px;
    text-overflow: ellipsis;
    word-break: break-all;
} */